.second-card {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 40px 100px;
  border-radius: 5px;
  text-align: center;
  z-index: 9;

  font-family: 'Eagle Lake', serif;
  font-weight: 400;
  font-style: normal;
  .yey {
    font-size: 30px;
  }
  .happy {
    font-size: 20px;
  }
  .loveu {
    font-size: 40px;
  }
}

@media (width <= 576px) {
  .second-card {
    padding: 20px 30px;
    .yey {
      font-size: 20px;
    }
    .happy {
      font-size: 15px;
    }
    .loveu {
      font-size: 25px;
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
  .second-card {
    padding: 20px 30px;
    .yey {
      font-size: 20px;
    }
    .happy {
      font-size: 20px;
    }
    .loveu {
      font-size: 30px;
    }
  }
}
