.heart-list-container {
  background: #000033;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.heart-text {
  position: absolute;
  top: -10%;
  font-size: 24px;
  font-weight: bold;
  color: rgba(255, 77, 109, 0.5);

  animation: fall 10s linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}

.bulb {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffcc00;
  border-radius: 50%;
  box-shadow:
    0 0 10px #ffcc00,
    0 0 20px #ffcc00,
    0 0 30px #ffcc00;
  animation: blink 2s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.star {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: white;
  border-radius: 50%;
  box-shadow:
    0 0 5px white,
    0 0 10px white,
    0 0 20px white;
  animation: shooting-star 5s linear infinite;
}

@keyframes shooting-star {
  0% {
    transform: translateY(-100px) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(45deg);
    opacity: 0;
  }
}
